.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  height: 150px;
  width: 140px;
  border-radius: 8px;
  position: relative;
}

.card img {
  width: 100%;
  height: 100%;
  display: block;
}

.card:hover {
  cursor: pointer;
}

.card .front {
  position: absolute;
  transform: rotateY(90deg);
  width: 100%;
  height: 100%;
  transition: all ease-out 0.2s;
  border-radius: 8px;
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
  background-position: center;
  background-size: cover;
}

.card .back {
  transition: all ease-out 0.2s;
  transition-delay: 0.2s;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
}

.flipped .back {
  transform: rotateY("90deg");
  transition-delay: 0s;
}

.flipped {
  border-radius: 8px;
}
